* {
    outline: 0;
    -webkit-tap-highlight-color: transparent;
    font-family: Roboto;
    font-size: 1em;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    color: #333;
}
html, body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0;
    background: #eee;
}
input[type=text] {
    padding: .5em;
    margin: 1em;
    margin-bottom: 0;
    color: #333;
}
label {
    margin: 1em;
    margin-bottom: 0;
    color: #333;
}
textarea {
    padding: .5em;
    margin: 1em;
    margin-bottom: 0;
    color: #333;
}
button {
    -ms-flex-item-align: end;
        align-self: flex-end;
    padding: .5em;
    margin: 1em;
}
div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
}
div > div {
    padding: 1em;
    padding-bottom: 0;
}
@media (min-width: 512px) {
    body {
        width: 50%;
        -ms-flex-item-align: center;
            align-self: center;
        padding-top: 128px;
    }
}